.navbar-nav{
    width: 100%;
}

.navbar-nav .nav-item{
    width: 50%;
}


#listado{
    height: 500px;
    overflow: scroll;
}


.bg-create{
    background-color: green !important;
}
.bg-delete{
    background-color: red !important;
}
.bg-update{
    background-color: #0d91fdc7 !important;
}